/WSMyPizza/nbproject/private/
/MyPizzaService/nbproject/private/
/MyPizzaDAO/nbproject/private/
/MessageLanguage/build/
/MessageLanguage/dist/
/MessageLanguage/nbproject/private/
/Modeloo/nbproject/private/
/MyPizzaDAO/build/
/Modeloo/dist/
/Modeloo/build/
/MyPizzaService/build/
/MyPizzaDAO/dist/
/MyPizzaService/dist/